<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container" >

    <div class="page-header text-center">
        <h1 style="color:Tomato"><span class="fa" ></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
            <div class="well" align = "center">
                <h3><span class="fa fa-user"></span> <%= user.local.email %></h3>
                    <p>
                        <strong>Choose a talent: </strong> 
                        <form id="tableForm" action="/profile" method="post" >                            
                            <select id = "talent" name = "selectal">
                            <% for (i in candidates) {%>
                                <%var name = candidates[i].name + "\u00a0" + candidates[i].surname; %>
                                <option value= <%= name %>><%= candidates[i].surname %> <%= candidates[i].name %></option>   
                            <% } %>
                            </select>
                            <br><br>
                            <input type="submit" class="btn btn-warning btn-lg" value = "OK"/>                        
                        </form>
                        <br>
                    </p>
            </div>
            <% if (talent != null) { %>
            <div class="well" align = "center">                    
                <h3>Talent : <%= talent %> </h3>
                <form id="uploadForm" enctype="multipart/form-data" method="post" action="/profileUpload">
                    <input type="file" name="userFile" /> <br>
                    <input type="hidden" name="talentname" value ="test"/>
                    <input type="submit" value="Upload File" class="btn btn-warning btn-lg"  name="submit">
                </form
            </div>
            <% } %>
</div>
</body>
</html>